<!doctype html>
<html lang="en">
 <%- include('../partials/head') %>
 <link href="/css/tagstyle.css" rel="stylesheet">
</head>
  <body>
    
    <%- include('../partials/header') %>

<div class="container-fluid">
  <div class="row">
    <%- include('../partials/sidebar') %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">


      <h2 class="mb-3">All Problems</h2>
      <a href="/admin/problems/create" class="btn btn-primary mb-3">Create New Problem</a>
      <div class="container-sm" >

        <form action="/admin/problems" method="POST">


          <!-- normal input filed text -->
          <div class="mb-3">
            <label for="name" class="form-label">Name Of Problem</label>
            <input type="text" name="name" class="form-control" id="name" aria-describedby="nameProblem">
            <div id="nameProblem" class="form-text">Give a short name that describes the Problem.</div>
          </div>
          

          <!-- checkbox field -->
          <div class="mb-3 form-check">
            <input type="checkbox" name="resolved" class="form-check-input" id="resolved">
            <label class="form-check-label" for="resolved">Resolved</label>
          </div>

          <!-- textarea field -->
          <div class="mb-3">
            <label for="descriptionProblem" class="form-label">Description Problem</label>
            <textarea class="form-control" id="descriptionProblem" name="description" rows="3"></textarea>
          </div>

          <!-- range field  -->
          <div class="mb-3">
          <label for="customRangeRate" class="form-label">Rate of Difficulty</label>
          <input type="range" name="rate" class="form-range" min="1" max="10" step="1" id="customRangeRate">
          </div>

          <!-- select field -->
          <div class="mb-3">
            <select name="category" class="form-select" aria-label="Default select example">
            <option selected>Category of Problem</option>
            <option value="javascript">Javascript</option>
            <option value="node">Node</option>
            <option value="express">Express</option>
            <option value="mongodb">Mongodb</option>
            <option value="mysql">Mysql</option>
            <option value="php">Php</option>
            <option value="other">Other</option>
          </select>
        </div>

        <!-- radio buttons field -here "how to" or "error" -->
        <div class="mb-3">

          <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="flexRadioDefault1" value="how to">
            <label class="form-check-label" for="flexRadioDefault1">
              how to
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="type" id="flexRadioDefault2" value="error" checked>
            <label class="form-check-label" for="flexRadioDefault2">
              error
            </label>
          </div>
        </div>

        <!-- field de type email -->
        <div class="mb-3">
          <label for="emailProblem" class="form-label">Email address to notify when resolved</label>
          <input type="email" class="form-control" id="emailProblem" placeholder="name@example.com" name="email">
        </div>

        <!-- field the tags box -->
        <div class="mb-3">
          <label for="tagBox" class="form-label">Tags</label>
          <div data-tags-input-name="tag" name="tag" id="tagBox"></div>
        </div>

        <div class="mb-3">
          <label for="due">Due date:</label>
          <input type="date" id="due" name="due">
        </div>
        


          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
    </main>
  </div>
</div>


<%- include('../partials/footer') %>
<script src="/js/tagging.min.js"></script>
<script>$("#tagBox").tagging();</script>
  </body>
</html>
