<!doctype html>
<html lang="en">
 <%- include('../partials/head') %>
</head>
  <body>
    
    <%- include('../partials/header') %>

<div class="container-fluid">
  <div class="row">
    <%- include('../partials/sidebar') %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">


      <h2>All Problems</h2>
      <a href="/admin/problems/create" class="btn btn-primary">Create New Problem</a>
      <div >

        la form pour editer un probleme

      </div>
    </main>
  </div>
</div>


<%- include('../partials/footer') %>
  </body>
</html>
